## Imports

In [1]:
import twint

import nest_asyncio
nest_asyncio.apply()

import pandas as pd
import numpy as np

from datetime import datetime

import matplotlib.pyplot as plt

In [29]:
c = twint.Config()
c.Username = None
c.Search = 'covid-19'
c.Limit = 1
c.Since = '2020-06-21 0:0:0'
c.NEAR = 'Miami'
c.Store_csv = True
c.Output = "covid.csv"
c.Lang = "en"

#run
twint.run.Search(c)

1275112709646954496 2020-06-22 13:05:35 EDT <mathewpregasen> this is the most cherrypicked statistic I've ever seen.   hell, just give me the # of cases for 23-27 yr olds on Palm Avenue in Tallahassee. We will track Covid19 in Florida using that.  https://twitter.com/GovRonDeSantis/status/1274449840618045440 …
1275112708317171712 2020-06-22 13:05:34 EDT <vivekcochin> I think these Pakis are going tk form a COVID-19 positive cricket team. Recruitment chaalu hai! #Pakistan #paxtan
1275112706777980935 2020-06-22 13:05:34 EDT <Bugsabee> Deep rooted corruption, failure of governance and lack of infrastructure has made the coronavirus crisis worse in India.  #COVID19 #India #ShameOnYou @PMOIndia @narendramodi https://twitter.com/thewire_in/status/1275053423902126082 …
1275112706647838720 2020-06-22 13:05:34 EDT <ashlyn68> @josephproudusa I felt yesterday literally tortured by watching Fox News Sunday! Chris Wallace as the election is approaching is reaching new heights of hate & hypocrisy!  Wallace's doctor is cherry picked that discusses Covid19 & he clearly hates Trump as does most of his panel!
1275112706073407488 2020-06-22 13:05:34 EDT <OstrumAM> Two economists from @IMF examine the impact of #Covid19 on #insurers and urge central banks looking to preserve credit supply to account for changes in insurer risk appetite  https://buff.ly/3dpfHum  via @voxeu #Insurance #InstitutionalInvestors
1275112706018881539 2020-06-22 13:05:34 EDT <Donegal_News> Third of new Covid-19 cases are in people under 35 -  https://donegalnews.com/2020/06/third-of-new-covid-19-cases-are-in-people-under-35/ …
1275112705440067594 2020-06-22 13:05:34 EDT <maxplanckpress> Unusual silence: global project will study the impact of the “#anthropause” - the period of reduced human mobility due to #Covid19 - on #wildlife  https://bit.ly/3epeAMz  @univofstandrews @SchoolofBiology @fondazionemach @maxplanckpress @unikonstanz @Senckenberg @animaltracking pic.twitter.com/ieJN6pLhei
1275112705418919937 2020-06-22 13:05:34 EDT <columns__> Final year MBBS students to be deployed for Covid-19 duties   http://www.thecolumns.in/go/67  @cmohry @anilvijminister @police_haryana @MoHFW_INDIA @HaryanaTweets pic.twitter.com/wNUrGisV0M
1275112703783104513 2020-06-22 13:05:33 EDT <Covensure> Serbian ruling party wins by landslide in Europe's first Covid-19 election - Politico  http://dlvr.it/RZ7rl0  pic.twitter.com/QQz2UuBA3z
1275112701979586560 2020-06-22 13:05:33 EDT <CortezPUSD> Cortez Elementary Children may continue to receive "grab n go" meals or emergency food at COVID-19 emergency feeding sites offered by schools and community locations, even if they are receiving P-EBT benefits.  https://ca.p-ebt.org/es  pic.twitter.com/almuovCOtA
1275112701375606785 2020-06-22 13:05:33 EDT <MahoningMatters> Columbiana County reports 21 new COVID-19 cases over weekend, no new deaths  https://www.mahoningmatters.com/local-news/columbiana-county-reports-21-new-covid-19-cases-over-weekend-no-new-deaths-2453514?utm_source=dlvr.it&utm_medium=twitter … pic.twitter.com/UFldwePZsZ
1275112700746457089 2020-06-22 13:05:32 EDT <NKPrasa77247245> Sir, pl confirm that covid19 morotorium is not applicable WCDLs carved out of CC a/c under credit delivery mechanism,though d same r part of Working capital. Banks say RBI don't allow morotorium on WCDLs & claim the same r overdue. @narendramodi @nsitharaman @RBI @DasShaktikanta
1275112698724921354 2020-06-22 13:05:32 EDT <ORMgmtNews> 7 steps to help regain OR capacity after COVID-19:   https://www.ormanagement.net/Clinical-News/Article/06-20/Key-Steps-to-Regain-OR-Capacity-After-COVID-19/58681?utm_source=Social&utm_medium=twitter&utm_campaign=0622capac … #surgtwitter #COVID19
1275112698561298433 2020-06-22 13:05:32 EDT <bowalephilip> Covid -19 is real.... Please stay  Safe  https://twitter.com/NCDCgov/status/1275106512747343875 …
1275112698452348933 2020-06-22 13:05:32 EDT <Endangered_NJ> Sadly finding discarded masks and gloves on my walks. Yes, wear masks but RT @NewJerseyDEP dispose of your masks properly  #covid19  pic.twitter.com/mTvqgHR7KY
1275112696762023944 2020-06-22 13:05:32 EDT <muhdbakir> But lack of an effective logistics system system does not facilitate easy movement of covid19 patients to the treatment centres
1275112696342622210 2020-06-22 13:05:31 EDT <unicefchief> Universal child benefits can be a lifeline — protecting vulnerable families from deepening levels of poverty and deprivation, and helping to save countries from catastrophic societal and economic impacts of #COVID19.  https://uni.cf/3eba3gq
1275112693389762560 2020-06-22 13:05:31 EDT <supplychain123> SUPPLY CHAIN DISRUPTION: Looks like the coronavirus is increasing in several areas. Get ahead of the curve by understanding areas that may be disrupted by the coronavirus.   https://www.supplychaintoday.com/coronavirus-death-toll-nears-100000-while-americans-congregate/ … #supplychain #disruption #coronavirus #pandemic #COVID19 #SCM #Logistics
1275112693343682566 2020-06-22 13:05:31 EDT <simontruetory> When Bozo said he wanted us to separate completely from our EU partners, of whom France, Germany and Italy are the largest, is this what he had in mind?  Daily new confirmed COVID-19 deaths  https://ourworldindata.org/coronavirus-data-explorer?zoomToSelection=true&time=2020-05-13..&country=GBR~DEU~FRA~ITA&deathsMetric=true&dailyFreq=true&smoothing=7 …
1275112691410108416 2020-06-22 13:05:30 EDT <AguluNwoke> NSW premier says people should rethink travel to Melbourne amid Covid-19 spike | World news  https://www.telegramnewsnigeria.com/nsw-premier-says-people-should-rethink-travel-to-melbourne-amid-covid-19-spike-world-news/ …

In [30]:
df = pd.read_csv('covid.csv')

In [31]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'near', 'geo',
       'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to',
       'retweet_date', 'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [32]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1275110983296417792,1275110983296417792,1592845123000,2020-06-22,12:58:43,EDT,178408973,prlacey,Paul Lacey,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '178408973', 'username': 'prlacey'}]",NaN,NaN,NaN,NaN
1,1275110983220948993,1275110983220948993,1592845123000,2020-06-22,12:58:43,EDT,533670216,bledsoechuck,Chuck Bledsoe@gab.ai ✝ ن #CCOT #MAGA🇺🇸,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '533670216', 'username': 'Bledsoe...",NaN,NaN,NaN,NaN
2,1275110978997366787,1275110978997366787,1592845122000,2020-06-22,12:58:42,EDT,42918167,wise_tweets,WISE,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '42918167', 'username': 'WISE_Twe...",NaN,NaN,NaN,NaN
3,1275110978187931649,1275108370370920450,1592845122000,2020-06-22,12:58:42,EDT,1231549103319941120,oduleyej,Oduleye John,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1231549103319941120', 'username'...",NaN,NaN,NaN,NaN
4,1275110975918813184,1275110975918813184,1592845121000,2020-06-22,12:58:41,EDT,636629677,gmofreeusa,GMO Free USA,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '636629677', 'username': 'GMOFree...",NaN,NaN,NaN,NaN

In [15]:
print(df.tweet[0])

If you are a reporter or similar, please check this out!

👇🏻👇🏻👇🏻 https://twitter.com/henkvaness/status/1272871977544568833 …